@import "../utilidades/variables";
@import "../utilidades/mixin";

section {
  form {
    width: 65%;
    div {
      @include flex;
      flex-direction: column;
      align-items: left;
      justify-content: left;
      height: 85vh;
      .btn bg-secondary {
        align-items: center;
        justify-content: center;
      }
    }
  }
}
