@import "../utilidades/variables";
@import "../utilidades/mixin";

body {
  background-image: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  font-family: "Roboto", sans-serif;
  color: white;
}
header {
  @include flex;
  background-color: $color-principal;
  nav {
    width: 100%;
    border-radius: 20px;
    .nav-link {
      color: white;
      font-size: 1rem;
    }

    ul {
      gap: 1rem;
    }
    li {
      text-decoration: none;
    }
  }
  main {
    @include alineación-texto;
    text-align: center;
    font-size: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  h1 {
    border-width: 600;
  }
}
section {
  @include alineación-texto;
  font-size: 20px;

  footer {
    background-color: $color-principal;
    height: 15vh;
    text-align: center;
    padding-top: 10px;
  }
}
