@media screen and (max-width: 1024px) {
  .menu-bajo {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    margin-top: 50px;
    align-items: center;
  }
  footer {
    height: 15vh;
  }
}
