@media screen and (max-width: 1024px) {
  main {
    margin: 1rem;
    text-align: center;
    justify-content: center;
  }

  header {
    justify-content: space-between;
    margin: 1rem;
    width: 100vh;
  }

  footer {
    height: 15vh;
  }
  section article div ul li {
    gap: 1rem;
  }
}
